#header{
    display: flex;
    margin: 0 auto;
    color: rgb(70, 180, 180)

}

#error{
    color: rgb(165, 4, 4);
}

#max{
    color: green;
}

#min{
    color: red;
}


/*#myChart{
    height: 80vh !important;
    width: 95vw !important;
}